*{
    margin: 0px;
    padding: 0px;
}

.login{
    margin-top: 2px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}
.login img{
    margin: 30px auto;
    object-fit: contain;
    width: 100px;
    margin-top: 1px;

}
body{
    margin-top: 0px;
}
.login_cont{
width: 350px;
display: flex;
flex-direction: column;
border-radius: 5px;
border: 1px solid lightgrey;
padding: 20px;
  
}
.login_cont h1{
    font-weight: 500;
    margin: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
}
.form div{
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.form input{
  margin-bottom: 10px;
  padding:8px 16px ;  
  background-color: white;
  width: 100%;
  border: none;
  border: lightgray 1px solid;
  border-radius: 3px;
  
}
.form input:focus{
    outline: 2px solid skyblue;

}
.form p{
    padding: 10px 0px;
    font-size: 14px;
}
.creat{
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}







.signbut{
    width: 100%;
    background-color:  #feab66;
    border: none;
    height: 30px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    
}